/* ===========Font=========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&family=Rampart+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&family=Rampart+One&display=swap');
/* b {
  font-family: 'Poppins', sans-serif;
  font-family: 'Rampart One', cursive;
} */
/* * {
  font-family: 'Poppins', sans-serif;
  font-family: 'Rampart One', cursive;
} */
